@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A tool designed to help users of RDF knowledge bases.</p>    
</div>
<article>
    <header>What is LOD-CM?</header>
    LOD-CM is a tool that produce a Conceptual Model (CM) thanks to a class diagram.
    It mines maximal frequent patterns (also known as itemset) upon properties used
    by instances of a given OWL class to build the most appropriate CMs.

    <h6>But why would I use that?</h6>

    <ul>
        <li>UML class diagrams are easy to read and understand.</li>
        <li>CMs allow a user to explore dataset without prior knowledge.</li>
        <li>A user can easily compare two CMs to choose the better suited dataset.</li>
    </ul>
    
</article>
<div>
    <header>Let's try it!</header>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <!-- <div>Name: <input asp-for="Customer.Name" /></div> -->
        <select asp-for="Dataset.Label" asp-items="@(new SelectList(Model.DatasetNames))">
            <option value="">Select a dataset</option>
        </select> 
        <select asp-for="Dataset.Class" asp-items="@(new SelectList(Model.ClassesNames[0]))">
            <option value="">Select a class</option>
        </select>
        <select asp-for="Dataset.Threshold" asp-items="@(new SelectList(Model.ThresholdRanges))">
            <option value="">Select a threshold</option>
        </select>
        <input type="submit" />
    </form>
</div>

@section Scripts {
    
    <script type="text/javascript">
        $(document).ready(function () {
            //alert('');
            $(".umlClass").hover(function(){
                //alert('in');
                $(this).attr("fill", "#fafa05");
                //$(this).css("background-color", "yellow");
            }, function(){
                $(this).attr("fill", "#FEFECE");
                //$(this).css("background-color", "pink");
            });
        });        
    </script>
}
